@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body {
    background-color: black;
    color: white;
    font-family: "Anonymous Pro"
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: black;
    font-family: 'Squada One';
    font-weight: 500;
    color: white;
    font-size: 90px;
}

#box:hover {
    background-color: rgb(46, 43, 43);
    background-image: url('./img/1200px-Skull-Icon.svg.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.gameboard {
    width: 456px;
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 15px;
    margin-top: 30px;
    color: white;
    font-family: 'Squada One';
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
}

button:hover {
    background-color: white;
    color: black;
}